*{

    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    height:100%;

    font-family: 华文细黑;
}
#container{
    display: block;
    width:80%;
    height:100%;
    border: 2px solid blue;
    margin:0 auto;
}

#screenPanel{
    position: relative;
    width:100%;
    height:80%;

    overflow: hidden;

    border: 2px solid red;
}

.item{
    position: absolute;
    display: inline-block;
    padding: 20px 20px;
    bottom: 0;

    animation-name: move;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.item p{
    margin:0;
}

#btnPanel{
    position: relative;
    left: 50%;
    margin-left: -20em;
    margin-top:1em;
    display: inline-block;
    text-align: center;
    border: 2px solid green;
}
#btn{
    position: relative;
    display: block;
    text-decoration: none;
    width:40em;
    height:6em;
    line-height: 6em;
    color: #ffffff;
    border:1px solid forestgreen;
    cursor: pointer;

    background: forestgreen;

    transition: all .5s;
}
#btn:hover{
    background: white;
    color: forestgreen;
}
#btn p{
    font-size:3em;
    margin:0;
}


.clz1{
    font-size:1em;
    font-weight: bold;

    color: rgba(86, 181, 61, 0.74);
    /*left: 0.7em;*/

    animation-duration: 3s;
    /*animation-timing-function: linear;*/
    animation-delay: .3s;
    /*animation-iteration-count: infinite;*/



    /*animation: move 3s linear .3s infinite;*/
    /*transition: all .7s;*/
}
.clz2{

    font-size:2em;
    font-weight: normal;

    color: rgba(209, 62, 66, 0.98);
    /*left: 1.2em;*/

    animation-duration: 4s;
    /*animation-timing-function: linear;*/
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/



    /*animation: move 4s linear 0s infinite;*/

    /*transition: all .9s;*/
}
.clz3{

    font-size:3em;
    font-weight: lighter;

    color: rgba(75, 133, 209, 0.7);
    /*left: 1.6em;*/

    animation-duration: 2s;
    /*animation-timing-function: linear;*/
    animation-delay: .5s;
    /*animation-iteration-count: infinite;*/



    /*animation: move 2s linear .5s infinite;*/

    /*transition: all .6s;*/
}
.clz4{

    font-size:0.2em;
    font-weight: bolder;

    color: rgba(209, 201, 51, 0.73);
    /*left: 2.3em;*/

    animation-duration: 3.5s;
    /*animation-timing-function: linear;*/
    animation-delay: .6s;
    /*animation-iteration-count: infinite;*/



    /*animation: move 3.5s linear .6s infinite;*/

    /*transition: all .4s;*/
}
.clz5{

    font-size:3.2em;
    font-weight: bolder;

    color: rgba(73, 209, 206, 0.6);
    /*right:0.4em;*/

    animation-duration: 4s;
    /*animation-timing-function: linear;*/
    animation-delay: .8s;
    /*animation-iteration-count: infinite;*/



    /*animation: move 4s linear .8s infinite;*/

    /*transition: all 1s;*/
}
.clz6{

    font-size:2.6em;
    font-weight: bold;

    color: rgba(209, 93, 205, 0.76);
    /*right: 3.8em;*/

    animation-duration: 2.5s;
    /*animation-timing-function: linear;*/
    animation-delay: .2s;
    /*animation-iteration-count: infinite;*/



    /*animation: move 2.5s linear .2s infinite;*/

    /*transition: all 1.2s;*/
}

.hideTop{
    top:-50% !important;
    opacity: 0.3;
}

.hideBottom{
    top:100%
}

.show{
    top:auto;
}

@keyframes move {
    0% {top:100%;opacity: 1;}
    /*25% {top:85%;opacity: 0.6;}*/
    /*60% {top:45%;opacity: 0.5;}*/
    95% {top:5%;opacity: 0;}
    100% {top:100%;opacity: 0;}
}